<!DOCTYPE html>
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>개발자 게시판 페이지</title>

    <style>
        #container {
            width: 80%;
            margin: 0 auto; /* 가로로 중앙에 배치 */
            padding-top: 5%; /* 테두리와 내용 사이의 패딩 여백 */
        }

        #list {
            text-align: center;
        }

        #write {
            text-align: right;
        }

        /* Bootstrap 수정 */
        .table > thead {
            background-color: #b3c6ff;
        }

        .table > thead > tr > th {
            text-align: center;
        }

        .table-hover > tbody > tr:hover {
            background-color: #e6ecff;
        }

        .table > tbody > tr > td {
            text-align: center;
        }

        .table > tbody > tr > #title {
            text-align: left;
        }

        div > #paging {
            text-align: center;
        }

        .hit {
            animation-name: blink;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite; /* 위 속성들을 한 줄로 표기하기 */ /* -webkit-animation: blink 1.5s ease infinite; */
        }

        /* 애니메이션 지점 설정하기 */ /* 익스플로러 10 이상, 최신 모던 브라우저에서 지원 */
        @keyframes blink {
            from {
                color: white;
            }
            30% {
                color: yellow;
            }
            to {
                color: red;
                font-weight: bold;
            }
            /* 0% {color:white;} 30% {color: yellow;} 100% {color:red; font-weight: bold;} */
        } </style>

    <script th:inline="javascript">
        $(document).ready(function () {
            // HTML 문서를 로드할 때마다 실행합니다.
            getBoardInfo();
            getBoardCommentList();
        })

        // 게시글 정보 메서드
        function getBoardInfo() {
            let board_id = [[${board_id}]];
            let grant_username = [[${username}]];

            $.ajax({
                type: 'GET',
                url: '/api/board/' + board_id,
                contentType: "application/json",
                success: function (response) {
                    console.log(response)
                    let boardInfo = response;
                    let title = boardInfo["title"];
                    let username = boardInfo["user"].username;
                    let contents = boardInfo['contents'];
                    let modifiedAt = boardInfo['modified_at'];
                    modifiedAt = formatDate(modifiedAt)
                    let board_id = boardInfo["id"];// board_key
                    let user_id = boardInfo["user"].id; // user_key

                    $('#title').val(title);
                    $('#username').text(username);
                    $('#contents').val(contents);
                    $('#modifiedAt').text(modifiedAt);
                    $('#board_id').val(board_id);
                    $('#user_id').val(user_id);

                    if (grant_username == username) {
                        $('#update_btn').show();
                        $('#delete_btn').show();
                    }
                }
            })
        }

        // 게시글 수정(등록)
        function updateBoard2() {
            $('#create_btn').hide();
            $('#update_btn').show();

            let board_id = [[${board_id}]];
            let title = $('#title').val();
            let contents = $('#contents').val();

            let data = {
                "title": title,
                "contents": contents
            };

            $.ajax({
                type: 'PATCH',
                url: '/api/board/' + board_id,
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    alert('게시글이 수정되었습니다!');
                    window.location.reload();
                }
            })
        }

        // 게시글 수정(버튼 액션만)
        function updateBoard() {
            $('#title').attr('readonly', false);
            $('#contents').attr('readonly', false);
            $('#create_btn').show();
            $('#update_btn').hide();
        }

        // 게시글 삭제
        function deleteBoard() {
            let board_id = "[[${board_id}]]";

            // 1. DELETE /api/board/{id} 에 요청해서 게시판를 삭제합니다.
            $.ajax({
                type: "DELETE",
                url: ` / api / board / ` + board_id,
                success: function (response) {
                    alert('게시글이 삭제되었습니다!');
                    window.location.href = "/board";
                }
            })
        }

        // 댓글 정보 메서드
        function getBoardCommentList() {
            let board_id = [[${board_id}]];
            let grant_username = [[${username}]];

            $.ajax({
                type: 'GET',
                url: '/api/board/comment/',
                contentType: "application/json",
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let message = response[i];
                        let id = message['comment_id'];
                        let comment = message['comment'];
                        let username = message['username'];
                        let createAt = message['create_at'];
                        let modifiedAt = message['modified_at'];
                        addHTML(id, comment, username, grant_username, createAt, modifiedAt);
                    }
                }
            })
        }

        // 댓글 수정(등록) 메서드
        function onclickCommentUpdate2(id) {
        }

        // 댓글 수정 메서드
        function onclickCommentUpdate(id) {
            $(`#` + `${id}-create_sub`).show();
            $(`#` + `${id}-update_sub`).hide();
            $(`#` + `${id}-comment`).attr('readonly', false);
        }

        // 게시판 하나를 HTML로 만들어서 body 태그 내 원하는 곳에 붙입니다.
        function addHTML(id, comment, username, grant_username, createAt, modifiedAt) {
            // 1. HTML 태그를 만듭니다.
            let tempHtml = ` <div style="text-align: right">`;
            tempHtml += `        <span>${modifiedAt}</span>`
            tempHtml += `        <button type="button" id="${id}-create_sub" name="${id}-create_sub" class="btn btn-primary" style="display: none" onclick="onclickCommentUpdate2('${id}')">등록</button>`;
            tempHtml += `        <button type="button" id="${id}-update_sub" name="${id}-update_sub" class="btn btn-warning" style="display: none" onclick="onclickCommentUpdate('${id}')">수정</button>`;
            tempHtml += `        <button type="button" id="${id}-delete_sub" name="${id}-delete_sub" class= "btn btn-dange" style="display: none" onclick="onclickCommentDelete('${id}')">삭제</button>`;
            tempHtml += `    </div>`
            tempHtml += `    <span class="form-inline" role="form" style="margin-top: 5px;margin-bottom: 5px">`
            tempHtml += `        <div class="input-group" style="width: 100%">`
            tempHtml += `            <span class="input-group-text" style="width: 15%;">${username}</span>`
            tempHtml += `            <textarea id="${id}-comment" name="${id}-comment" class="form-control" readonly>${comment}</textarea>`
            tempHtml += `        </div>`
            tempHtml += `    </span>`

            // 2. #comment-list 에 HTML을 붙인다.
            $('#comment-list').append(tempHtml);
            // 3. 버튼 권한 체크
            if (username == grant_username) {
                $(`#` + `${id}-update_sub`).show();
                $(`#` + `${id}-delete_sub`).show();
            }
        }

        // 댓글 등록
        function createBoardComment() {
            let grant_username = [[${username}]];

            if (isEmpty(grant_username)) {
                alert('로그인을 해주세요!!! >__<');
                window.location.href = "/user/login";
                return false;
            } else {
                let board_id = [[${board_id}]];
                let comment = $('#comment').val();

                let data = {
                    "board_id": board_id,
                    "comment": comment
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/board/comment',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        debugger
                        alert('댓글이 등록되었습니다!');
                        window.location.href = '/board/' + board_id;
                    }
                })
            }
        }

        //null값 체크
        function isEmpty(value) {
            if (value == null || value.length === 0) {
                return true;
            } else {
                return false;
            }
        }

        // Date formate
        function formatDate(date) {
            var d = new Date(date), month = '' + (d.getMonth() + 1), day = '' + d.getDate(),
                year = d.getFullYear();
            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;
            return [year, month, day].join('-');
        }
    </script>

</head>
<body>
<div id="container">
    <input type="hidden" id="board_id" value="">
    <input type="hidden" id="user_id" value="">

    <div id="header-list-left" style="text-align: left">
        <a th:href="@{/}" style="text-align: left">
            <button type="button" class="btn btn-dark">HOME</button>
        </a>
    </div>
    <div id="header-list-right" style="text-align: right">
        <th:block sec:authorize="isAuthenticated()">
            <span th:text="${username}"></span> 반가워요!!!
            <a th:href="@{/user/logout}">
                <button type="button" class="btn btn-dark">로그아웃</button>
            </a>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <a th:href="@{/user/login}">
                <button type="button" class="btn btn-dark">로그인</button>
            </a>
        </th:block>
    </div>
    <h1 style="text-align: center;font-weight: bold;font-size: 50px;">개발 게시판</h1>
    <h5 style="text-align: center;padding-bottom: 60px;">공유하고 싶은 소식을 입력해주세요</h5>

    <div id="write">
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                <tr style="text-align: center">
                    <th style="width: 20%;"><label>제목</label></th>
                    <th style="width: 80%">
                        <div class="input-group">
                            <input type="text" class="form-control" id="title" name="title" placeholder="제목..."
                                   readonly>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>작성자
                    </td>
                    <td>
                        <span id="username"></span>
                        <span style='float:right'>작성일자 : <span id="modifiedAt"></span></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="내용..." id="contents"
                                      style="height: 250px;" readonly></textarea>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <td style="text-align:right">
                        <th:block sec:authorize="isAuthenticated()">
                            <button type="button" id="create_btn" class="btn btn-primary" style="display: none"
                                    onclick="updateBoard2()">등록
                            </button>
                            <button type="button" id="update_btn" class="btn btn-warning" style="display: none"
                                    onclick="updateBoard()">수정
                            </button>
                            <button type="button" id="delete_btn" class="btn btn-dange" style="display: none"
                                    onclick="deleteBoard()">삭제
                            </button>
                        </th:block>
                    </td>
                </tr>
                </thead>
            </table>
            <table class="table table-condensed">
                <tr>
                    <td>
                        <div style="text-align: right;">
                            <button type="button" id="create_comment_btn" class="btn btn-primary"
                                    onclick="createBoardComment()">등록
                            </button>
                        </div>
                        <span class="form-inline" role="form">
                            <div class="input-group" style="width: 100%">
                                  <span class="input-group-text" style="width: 15%"><span th:text="${username}"></span></span>
                                  <textarea id="comment" class="form-control" placeholder="댓글..."></textarea>
                            </div>
                        </span>
                    </td>
                </tr>
            </table>
            <table class="table table-condensed">
                <tr>
                    <td>
                        <div id="comment-list" style="text-align: left"><b>댓글 (<span id="board_count">0</span>)</b>
                        </div>
                        <!--                                                <div style="text-align: right">-->
                        <!--                                                    <button type="button" id="create_sub"-->
                        <!--                                                            class="btn btn-primary">등록-->
                        <!--                                                    </button>-->
                        <!--                                                    <button type="button" id="udate_sub"-->
                        <!--                                                            class="btn btn-warning">수정-->
                        <!--                                                    </button>-->
                        <!--                                                    <button type="button" id="delete_sub"-->
                        <!--                                                            class="btn btn-dange">삭제-->
                        <!--                                                    </button>-->
                        <!--                                                </div>-->
                        <!--                                                <span class="form-inline" role="form">-->
                        <!--                                                    <div class="input-group" style="width: 100%">-->
                        <!--                                                          <span class="input-group-text" style="width: 15%">댓글 누구</span>-->
                        <!--                                                          <textarea class="form-control"></textarea>-->
                        <!--                                                    </div>-->
                        <!--                                                </span>-->
                    </td>
                </tr>
            </table>
            <!-- Paging 처리 -->
            <div id="paging"> 페이징 처리?</div>
            <!-- Paging 끝 -->
        </div>
    </div>
    <hr/>
</div>

</body>
</html>
