<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>로그인 페이지</title>
    <script>
        //회원가입 클릭시 실행되는 메서드
        function onclickLogin() {
            if (signUpvalidationChk()) {
                let username = $('#username').val();
                let password = $('#password').val();

                let data = {
                    "username": username,
                    "password": password,
                };

                $.ajax({
                    type: 'POST',
                    url: '/user/loginChk',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        debugger
                        let result = response;
                        if (result.chk) {
                            alert(username + '로그인에 성공하셨습니다!');
                            window.location.href = "/";
                        }

                        if (response.msg) {
                            alert(result.msg);
                        }
                    }
                })
            }
        }

        // 회원가입 validationChk 메서드
        function signUpvalidationChk() {
            let username = $('#username').val();
            let password = $('#password').val();

            if (!username) {
                alert('닉네임을 입력해주세요!');
                return false;
            } else if (!password) {
                alert('비밀번호를 입력해주세요!');
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<div id="login-form">
    <div id="login-title" style="text-align: center; font-size: 40px;">HS 개발 게시판</div>
    <button id="login-kakao-btn"
            onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=a5c76f065a36238134481c7ecdf8d862&redirect_uri=http://localhost:8080/user/kakao/callback&response_type=code'">
        카카오로 로그인하기
    </button>
    <button id="login-id-btn" onclick="location.href='/user/signup'">
        회원 가입하기
    </button>
    <form action="" method="post">
        <div class="form-group row">
            <label for="username">닉네임</label>
            <div class="input-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="닉네임..."
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="form-group row">
            <label for="password">패스워드</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="패스워드..."
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </div>
    </form>
    <button id="login-id-submit" onclick="onclickLogin()">로그인</button>
</div>
</body>
</html>