<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>로그인 페이지</title>
    <style>
        html, body{
            background: #6da3ff;
        }
    </style>
</head>
<body>
<div id="login-form">
    <div id="login-title" style="text-align: center; font-size: 40px;">HS 개발 게시판</div>
    <button id="login-kakao-btn"
            onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=a5c76f065a36238134481c7ecdf8d862&redirect_uri=http://jeon34986.shop/user/kakao/callback&response_type=code'">
        카카오로 로그인하기
    </button>
    <button id="login-id-btn" onclick="location.href='/user/signup'">
        회원 가입하기
    </button>
    <form action="/user/login" method="post">
        <div class="form-group row">
            <label for="username">닉네임</label>
            <div class="input-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="닉네임..."
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="form-group row">
            <label for="password">패스워드</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="패스워드..."
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </div>
        <button id="login-id-submit">로그인</button>
        <a id="non-member-login-submit" onclick="window.location.href='/board'">비회원 입장</a>
    </form>
    <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">닉네임 또는 패스워드를 확인해주세요.</div>
</div>
</body>
<script>
    const href = location.href;
    const queryString = href.substring(href.indexOf("?") + 1)
    if (queryString === 'error') {
        const errorDiv = document.getElementById('login-failed');
        errorDiv.style.display = 'block';
    }
</script>
</html>